<!-- /*
 * @Description: 
 * @version: 
 * @Author: zlx
 * @Date: 2023-12-12 18:36:03
 * @LastEditors: zlx
 * @LastEditTime: 2023-12-12 18:36:24
 */ -->
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}pcap文件上传{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-5 mb-1">
        <a href="#" class="navbar-brand">pcap文件检测</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>
<main>
    <div id="main" class="container py-3">
        {% block content %}{% endblock %}
    </div>
</main>
<footer class="bg-light py-3 mt-5">
    <div class="container">
        <small>Author: zlx</small>
    </div>
</footer>
</body>
</html>