<!-- /*
 * @Description: 
 * @version: 
 * @Author: zlx
 * @Date: 2023-12-12 14:16:30
 * @LastEditors: zlx
 * @LastEditTime: 2023-12-12 15:00:54
 */ -->
 {% extends "base.html" %}

{% block title %}错误处理页面{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header bg-danger text-white">
            <h5 class="text-center">Something Wrong...</h5>
          </div>
          <div class="card-body">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="list-unstyled">
                  {% for message in messages %}
                    <li class="alert alert-danger">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <form action="/upload" method="GET">
              <button type="submit" class="btn btn-primary">返回</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

